.section {
  min-height: 100vh;
  width: 100%;
}

#header {
  /* min-height: 90vh; */
  /* width: 100%; */
  background-color: rgba(12, 172, 247, 0.774);
  color: white;
}
#header a {
  text-decoration: none;
}

/* #carousel {
  height: 100vh;
  min-height: 100vh;
  background-color: salmon;
} */

/* .col-sm-3 {
  display: grid;
  align-items: center;
  justify-content: center;
} */

.icon {
  height: 200px;
  padding: 32px;
}

.responsive-grid {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
}

/* .responsive-grid div {
  height: 100%;
  width: 100%;
} */
